<h2>C.A.L. See You Later</h2>
<form method="post" action="/maths/calculator">
  <input autofocus type= "number" name="left" value="0" required>
  
  <input type="number" name="right" value="0" step="any" required>
  <br></br>
  <button name="mathChoice" value="add">+</button>
  <button name="mathChoice" value="subtract">-</button>
  <button name="mathChoice" value="multiply">X</button>
  <button name="mathChoice" value="divide">/</button>
  <button name="mathChoice" value="modulo">%</button>
  <button name="mathChoice" value="power">^</button>
</form> 
