@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body, input, select, textarea, button {
  font-family: 'Roboto', sans-serif;
}

html, body {
  font-size: 28px;
}

input, button {
  font-size: 32px;
}

input[type="text"],
input[type="number"] {
  border: 0;
  border-left: 8px solid transparent;
  border-bottom: 4px solid #ECECEC;
  outline: 0;
  padding: 8px 0;
}

input[type="text"]:invalid,
input[type="number"]:invalid {
  border-left-color: #c5162c;
  outline: 0;
  box-shadow: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-bottom-color: #FF5555;
}

button {
  border-radius: 0;
  padding: 8px 16px;
  border: 2px solid transparent;
  background-color: #008000;
  color: white;
  outline: 0;
}

button:focus,
button:hover {
  border-color: #008000;
  background-color: transparent;
  color: #008000;
}

button:active {
  border-color: #008000;
  background-color: #008040;
  color: black;
}

